*{
    padding: 0;
    margin: 0;
}

#divs-container{
    background-color: aquamarine;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;

}

.divs {
    background-color: blueviolet;
    color: #fff;
    width: 15rem;
    height: 30rem;
        
}