*{
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
    z-index: 0;
  }

body {
    height: 100%;
    z-index: 0;
    background-image: url(../images/spoon\ spice\ resize.jpeg);/**/
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    max-width: 100%;
    height: 100%;
  }

  a{
      text-decoration: none;
      color: #fff;
  }
  

.divs-container {
    
    display: flex;
    justify-content: baseline;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    

    
    

    

}   

header{
   
    align-items: center;
    font-family: cursive;
    text-align: center;
    background-color: rgb(39, 38, 38, .2);
    color: #fff;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-around;
    align-items: center;
    font-size: 2rem;
    list-style: none;
    

    
}

    

.divs {
    color: rgb(252, 247, 247);
    font-size: 15px;
    font-style: italic bold uppercase;
    font-family: 'Times New Roman', Times, serif;
    width: 200px;
    height: 200px;
    text-align: center;
    padding: 1%;
    margin: 1%;
    z-index: 1;
    top: 160px;  
    
   
   
   /*
    clear: both;
    padding: 1%;
    display: inline-block;
    margin: center;
*/    
}









.div-1 {
    
    background-image: url(../images/row-div-images/cropped2.jpg) ;
    background-repeat: no-repeat;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: 200px 200px; 
    text-decoration: underline;
    text-transform: uppercase;
    position: relative;
    background-color:rgba(255, 255, 255, 0.2);
    overflow:hidden;
    border-radius: 10px
    -ms-transform: rotate(20deg); /* IE 9 */
    transform: rotate(20deg);
    
    
    
    
    /*left: 50%;
    top: 200px;
    z-index: 1;
    display: block;
    */
}

.div-2 {
    background-image: url(../images/row-div-images/croppped.jpg);
    background-repeat: no-repeat;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: 200px 200px; 
    position: relative;
    text-decoration: underline;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.2);
    overflow:hidden;
    border-radius: 10px
    -ms-transform: rotate(20deg); /* IE 9 */
    transform: rotate(20deg);
    /*position: relative;
    left: 50%;
    top: 200px;
    
    z-index: 2;
    */
}

.div-3 {
    background-image: url(../images/row-div-images/vegan-icon.jpg);
    background-repeat: no-repeat;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: 200px 200px; 
    position: relative;
    text-decoration: underline;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.2);
    bottom: 227px;
    overflow:hidden;
    border-radius: 10px
    -ms-transform: rotate(20deg); /* IE 9 */
    transform: rotate(20deg);
    
  
}
.div-4 {
    background-image: url(../images/row-div-images/cropped2.jpg);
    background-repeat: no-repeat;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: 200px 200px; 
    position: relative;
    text-decoration: underline;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.2);
    bottom: 227px;
    overflow:hidden;
    border-radius: 10px
    -ms-transform: rotate(20deg); /* IE 9 */
    transform: rotate(20deg);

}

footer{
    
    background-color: rgb(39, 38, 38, .4);
    color: #f7f1f1;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
}